<!doctype html>
<html lang="en">
  <head>
    <title>move in</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">

  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light bg-danger text-white">
        <a class="navbar-brand logo_main" href="#"><img src="images/816484.jpg" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">資產管理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Link</a>
            </li>

          </ul>
        </div>
      </nav>
      <div class="content d-flex">
        <div class="sidebar p-3 bg-light">
          <ul class="list-group p-2">
            <li><a class="list-group-item list-group-item-action btn btn-outline-danger my-2 active" href="">資產移交</a></li>
            <li><a class="list-group-item list-group-item-action btn btn-outline-danger my-2" href="">資產領用</a></li>
            <li><a class="list-group-item list-group-item-action btn btn-outline-danger my-2" href="">資產借用</a></li>
            <li><a class="list-group-item list-group-item-action btn btn-outline-danger my-2" href="">資產歸還</a></li>
            <li><a class="list-group-item list-group-item-action btn btn-outline-info my-2" href="">資產借出</a></li>
            <li><a class="list-group-item list-group-item-action btn btn-outline-info my-2" href="">歸還入庫</a></li>
          </ul>          
        </div>
        <div class="main p-4">
          <h2>資產移交</h2>
          <form class="p-3" action="">
            <div class="form-group">
              <label for="formGroupExampleInput">移交人</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="name">
            </div>
            <p>品項分類</p>
            <div class="opt d-flex">
              <select class="custom-select mx-2">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <select class="custom-select mx-2">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="form-group py-3">
              <label for="formGroupExampleInput">品項名稱</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="object-name">
            </div>
            <div class="form-group py-1">
              <label for="formGroupExampleInput">日期時間</label>
              <input type="date" class="form-control" id="formGroupExampleInput">
            </div>
            <div class="d-flex flex-row-reverse py-2">            
              <button class="btn btn-info" type="submit">送出表單</button>
              <button class="btn btn-outline-danger mx-5" type="reset">重新填寫</button>
            </div>
          </form>
        </div>
      </div>
      
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>